mixin menuItem(name, href)
    li(class=(title === name) ? "active link" : "link")
        a(href=href) #{name}

html(lang=fr)
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title || 'Blog'
        link(rel="stylesheet" href="/assets/css/bootstrap.css")
        link(rel="stylesheet" href="assets/css/style.css")

    body
        block header
        block content

    if flash
        div#flash-container
            div#flash-message(class=`${flash.class}`)
                p #{flash.message}

  
    script.
        let flash = document.querySelector('#flash-message')
        if(flash){
        setTimeout(() =>{
            flash.parentNode.removeChild(flash);
        },5000)

        }

    footer 
        p footer